.conteinerCardChat{
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: start;
    align-items: center;
    gap: 8px;
}
.imgUserChat{
    width: 50px;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 10px;
}

.boxImgUserChat {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: start;
}

.boxContent {
    background-color: #00BF33;
    border-radius: 8px;
    padding: 8px;
    color: white;
    font-weight: normal;
}